header {
    background-color: #005f73;
    text-align: center;    
}
body {
    background-color: #fcfafb;
}
#background {
    height: 725px;    
    background-color: #94d2bd;
}
#content {
    margin: 0 auto;
    width: 1600px;
}
.logo {
    width: 80px;
}
nav a {
    background-color: #005f73;
    color: white;
    text-decoration: none;
}
nav a:hover {
    background-color: #e7d49c;
    color: #0a9396;
}
.book {
    background-color: #94d2bd;
    text-decoration: none;
    color: black;
}
.join {
    background-color: #94d2bd;
    text-decoration: none;
    color: white;
}
.book:hover, .join:hover {
    color: white;
    background-color: #94d2bd;
}
.msg {    
    background-color: #005f73;
    color: white;   
}
.icon {
    width: 80px;
}

#hero-msg {
    text-align: center;
}
#hero-img {
    width: 100%;
}
footer {
    background-color: #0a9396;
    color: white;
}
footer p {
    font-size: 1.2em;
}
footer p a {
    text-decoration: none;
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
