header {
    background-color: #005f73;
    text-align: center;    
}
body {
    background-color: #fcfafb;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
#background {
    height: 725px;    
    background-color: #94d2bd;
}
#content {
    margin: 0 auto;
    width: 1600px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
nav a {
    background-color: #005f73;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #e7d49c;
    color: #0a9396;
}
.book {
    background-color: #94d2bd;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #94d2bd;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    color: #e7d49c;
    background-color: #94d2bd;
}
main section img {
    box-sizing: border-box;
}
.msg {    
    background-color: #005f73;
    color: white;
    line-height: 1.5em;
    padding: 35px;
    
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.card-img {
    border: 10px solid #e7d49c;
    text-align: right
}
.river-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}
.home-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.msg p{
    font-size: 0.8em;
    padding-bottom: 15px;
}
#hero-msg {
    text-align: center;
}
#hero-img {
    width: 100%;
}
footer {
    background-color: #0a9396;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer p a {
    text-decoration: none;
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
